<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>{{title}}</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    {{{redocHead}}}
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            var a = document.getElementsByClassName('sc-1mcjnf5-1 eoxkJU')[0]; // class name seems to be subject to change between versions
            a.download = 'appgate_sdp_controller.json';
            a.removeAttribute('href'); // it uses the address of the server which did the bundling for some reason. And that breaks download if you just move the html to somewhere else.
        });
    </script>
</head>

<body>
{{{redocHTML}}}
</body>

</html>
